/* 

Blue color: #005191
Light gray: #f5f5f5
Dark color: #333333

*/

/**** GLOBAL STYLES ****/
html {
	font-size:16px;
}

body {
	background:#f5f5f5;
	font: 1/1.5 Arial, Helvetica, sans-serif;
}

a {
	color:#005191;
}
	a:hover {
		color:#004174;
	}

.caps {
	text-transform: uppercase;
	letter-spacing: 0.125em;
	font-size:90%;
}

.nav {
	margin:0;
	font-weight: bold;
}
	.nav li {
		float:left;
		list-style: none;
	}

.panels-container {
	margin:40px;
}

	.panels-container .panel {
		border-left:0;
	}
	.panels-container .panel:first-child {
		border-left:1px solid;
	}
	
	@media screen and (min-width: 40.063em) {
		.news-feed, .twitter-feed, .blurb {
			overflow:hidden;
			height:260px;
		}
	}

	@media screen and (min-width: 65em) {
		.panels-container {
			margin:40px 0;
		}
	}

	.news-entry {
		margin-top:8px !important;
	}

	.panels-container .panel {
		margin:0;
		margin-top:-1px;
	}

	.tickets {
		padding:40px 30px;
		background:#005191;
	}

		.panels-container .tickets h3 {
			color:white;
		}

	.panel .game-date {
		margin:20px 0;
		font-size:2.618em;
	}

	.blurb {
		padding:0;
	}

	.news-feed, .twitter-feed, .blurb {
		position:relative;
	}
		.curtain {
			position:absolute;
			bottom:0;
			left:0;
			right:0;
			background:url(images/vittoning.png) repeat-x bottom left;
			height:40px;
		}

.hero-image {
	margin-bottom:-10%;
}
	.hero-image img {
		width:100%;
	}

/**** HEADER ****/
.header {
	background:white;
	padding:20px;
	border-bottom:1px solid #ddd; /*temporary, used for setup*/
	margin-bottom:-1px;
}
	.header a {
		color:;
	}

	.header .logo {
		display:block;
		width:65px;
		margin-bottom:-19px;
	}

	.header .nav {
		margin-top:12px;
	}

/**** FOOTER ****/
footer {
	padding:40px 20px;
	background:#005191;
	color:white;
}

	footer .logo {
		width:60px;
	}
